[game]
type = "minecraft"
startup_file = "server.jar"
version_source = "vanilla_api"
supported_versions = "1.17 - 1.17.1"

[variables]
VANILLA_VERSION = "1.17.1"
SERVER_JARFILE = "server.jar"
JAVA_MEMORY = "2G"
SERVER_PORT = "25565"
EULA = "true"

[config]
[config.env]
VANILLA_VERSION = "${VANILLA_VERSION}"
SERVER_JARFILE = "${SERVER_JARFILE}"
JAVA_MEMORY = "${JAVA_MEMORY}"
SERVER_PORT = "${SERVER_PORT}"
EULA = "${EULA}"

[install_script]
script = '''
#!/bin/ash
# Vanilla MC Installation Script
# Compatible with Minecraft 1.17 - 1.17.1
# Server Files: /mnt/server

mkdir -p /mnt/server
cd /mnt/server

LATEST_VERSION=`curl https://launchermeta.mojang.com/mc/game/version_manifest.json | jq -r '.latest.release'`
LATEST_SNAPSHOT_VERSION=`curl https://launchermeta.mojang.com/mc/game/version_manifest.json | jq -r '.latest.snapshot'`

echo -e "latest version is $LATEST_VERSION"
echo -e "latest snapshot is $LATEST_SNAPSHOT_VERSION"

if [ -z "$VANILLA_VERSION" ] || [ "$VANILLA_VERSION" == "latest" ]; then
  MANIFEST_URL=$(curl -sSL https://launchermeta.mojang.com/mc/game/version_manifest.json | jq --arg VERSION $LATEST_VERSION -r '.versions | .[] | select(.id== $VERSION )|.url')
elif [ "$VANILLA_VERSION" == "snapshot" ]; then
  MANIFEST_URL=$(curl -sSL https://launchermeta.mojang.com/mc/game/version_manifest.json | jq --arg VERSION $LATEST_SNAPSHOT_VERSION -r '.versions | .[] | select(.id== $VERSION )|.url')
else
  MANIFEST_URL=$(curl -sSL https://launchermeta.mojang.com/mc/game/version_manifest.json | jq --arg VERSION $VANILLA_VERSION -r '.versions | .[] | select(.id== $VERSION )|.url')
fi

DOWNLOAD_URL=$(curl ${MANIFEST_URL} | jq .downloads.server | jq -r '. | .url')

echo -e "running: curl -o ${SERVER_JARFILE} $DOWNLOAD_URL"
curl -o ${SERVER_JARFILE} $DOWNLOAD_URL

echo "eula=true" > eula.txt

echo -e "Install Complete"
'''
