version: "3.8"

services:
  ark:
    image: hermsi/ark-server
    container_name: ark-server
    restart: unless-stopped
    environment:
      - SESSION_NAME=${SESSION_NAME}
      - SERVER_MAP=${SERVER_MAP}
      - SERVER_PASSWORD=${SERVER_PASSWORD}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - MAX_PLAYERS=${MAX_PLAYERS}
      - GAME_PORT=${GAME_PORT}
      - QUERY_PORT=${QUERY_PORT}
      - RCON_PORT=${RCON_PORT}
      - UPDATE_ON_START=${UPDATE_ON_START}
      - BACKUP_ON_STOP=${BACKUP_ON_STOP}
    volumes:
      - ark-data:/ark
    ports:
      - "${GAME_PORT}:7777/udp"
      - "${QUERY_PORT}:27015/udp"
      - "${RCON_PORT}:27020/tcp"

volumes:
  ark-data:
