version: "3.8"

services:
  rust:
    image: didstopia/rust-server
    container_name: rust-server
    restart: unless-stopped
    environment:
      - RUST_SERVER_NAME=${RUST_SERVER_NAME}
      - RUST_SERVER_DESCRIPTION=${RUST_SERVER_DESCRIPTION}
      - RUST_SERVER_IDENTITY=${RUST_SERVER_IDENTITY}
      - RUST_SERVER_PORT=${RUST_SERVER_PORT}
      - RUST_RCON_PORT=${RUST_RCON_PORT}
      - RUST_RCON_PASSWORD=${RUST_RCON_PASSWORD}
      - RUST_SERVER_MAXPLAYERS=${RUST_SERVER_MAXPLAYERS}
      - RUST_SERVER_WORLDSIZE=${RUST_SERVER_WORLDSIZE}
      - RUST_SERVER_SEED=${RUST_SERVER_SEED}
      - RUST_SERVER_SAVE_INTERVAL=${RUST_SERVER_SAVE_INTERVAL}
    volumes:
      - rust-data:/steamcmd/rust
    ports:
      - "${RUST_SERVER_PORT}:28015/tcp"
      - "${RUST_SERVER_PORT}:28015/udp"
      - "${RUST_RCON_PORT}:28016/tcp"

volumes:
  rust-data:
